.button {
  inline-size: 32px;
  block-size: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button:active {
  transform: scale(.95);
}

#play {
  background: url('../image/icons8-circled_play\ 1.svg');
}

#pause {
  background: url('../image/icons8-pause_button\ 1.svg');
}

#backward {
  background: url('../image/icons8-reset\ 2.svg');
}

#forward {
  background: url('../image/icons8-reset\ 1.svg');
}

#play,
#pause,
#backward,
#forward {
  background-repeat: no-repeat;
  background-position: center;
}